* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    color: rgb(99, 114, 129);
}

a {
    text-decoration: none;
    font-weight: bold; 
    color: rgb(83, 18, 0);
}

a:hover {
    color: rgb(175, 54, 21);
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

a.activo {
    color: #DF4215;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    background-color: rgba(255, 192, 149, 0.746);
    border-radius: 5px;
    font-weight: bolder;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 20px;
}

.precio {
    font-size: 18px;
    font-weight: bold;
}

.normal {
    box-shadow: 0 4px 8px grey;
    position: initial;
}

.normal:hover {
    color: #DF4215}

.col1 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}

.col2 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 2;
}

.col3 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 3;
}

.col100 {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .burger {
    display: none;
    color: rgb(83, 18, 0);
    font-size: 40px;
    background-color: rgba(223, 65, 21, 0.116);
    border-radius: 5px;
    padding: 1px 11px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header.normal {
    background-color: rgba(255, 55, 0, 0.109);
}

.normal nav ul li {
    padding: 10px;
}

.normal nav ul li a {
    font-size: 25px;
    color: rgb(175, 54, 21);
    background-color: rgba(255, 255, 255, 0); 
}

.normal nav ul li a:hover {
    color: #DF4215;
}

.normal nav ul li a.activo {
    color: #DF4215;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    font-weight: bolder;
}

/* Menú hamburguesa 2 */

.barra {
    height: 5px;
    width: 35px;
    margin: 8px;
    margin-left: 10px;
    background-color: rgb(175, 54, 21);
    border-radius: 2px;
}

.cerrar {
    color: rgb(83, 18, 0);
    text-shadow: 1px 0px 5px #ffffff;
    font-size: 36px;
    padding: 20px;
}

.arriba, .media, .abajo {
    Transition: 700ms ease;
}

.burger2.abierto .arriba {
    transform:translateY(13px) rotateZ(45deg);
}

.burger2.abierto .media {
width: 0;
}

.burger2.abierto .abajo {
    transform:translateY(-13px) rotateZ(-45deg);
}

.menu2 {
    position: absolute;
    top: 105px;
    left: 10px;
    width: 45%;
    height: calc(80vh - 80px);
    background-color:rgb(255, 233, 223);
    z-index: 10;
    display: none;
    box-shadow: 2px 0px 4px grey;
    padding: 15px;
}

.pmenu {
    color: rgb(175, 54, 21);
    margin-bottom: 160px;
}

.pmenu:hover {
    color: #DF4215;
    text-shadow: 2px 2px #d8d8d8;
}

.menu2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu2 div a {
    color:rgb(175, 54, 21);
    text-shadow: 2px 2px 1px color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    transform: translateX(-200px);
}

.menu2 div a.activo {
    color:#DF4215;
} 

.menu2 div a:hover {
    background-color:rgba(253, 174, 121, 0.746);
    border-radius: 5px;
}

.menu2 div a:nth-child(1) {
    transition: transform 500ms ease-in-out;
}
.menu2 div a:nth-child(2) {
    transition: transform 700ms ease-in-out;
}
.menu2 div a:nth-child(3) {
    transition: transform 900ms ease-in-out;
}
.menu2 div a:nth-child(4) {
    transition: transform 1100ms ease-in-out;
}

.menu2 div a.aparicion {
    transform: translateX(0px);
}

.menu2 .todo {
    display: flex;
}

.todo {
    height:calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
}

.enlaces {
    display: flex;
    flex-direction: column;
}

.menu2 a {
    width: 100%;
    padding: 10px 0 10px 20px;
}

.burger2 {
    display: none;
}

/* Tarjetas */

.contenedor {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 50px;
    justify-content: space-around;
}

.tarjeta {
    font-size: 15px;
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 4px rgba(153, 5, 5, 0.678), -2px 0px 4px rgba(0, 0, 0, 0.233);
    background-color: rgb(255, 245, 240);
}

.imagen {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.imagen img {
    height: 200px;
    text-align: center;
}

 .btn {
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(220, 20, 20);
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 4px solid rgb(163, 16, 16);
    text-align: center;
    align-self: center;
}

 .btn:hover {
    font-weight: normal;
    color: white;
    text-shadow: none;
    background-color: rgb(163, 16, 16);
    cursor: pointer;
}

.datos {
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.topcard {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.direccion {
    width: 200px;
}

.direccion p:first-child {
    font-size: 18px;
    color: rgb(220, 20, 20);
    font-weight: bold;
    margin-bottom: 5px;
}

.descripcion {
    text-align: center;
}

.detalles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalles a {
    color: #666666;
}

.detalles a:hover {
    color: rgb(220, 20, 20);
}

.siguiente {
    float: right;
    font-size: 20px;
    padding: 10px;
    margin-right: 100px;
    border-radius: 5px;
    border-left: 2px solid rgb(141, 52, 0);
    border-bottom: 4px solid rgb(141, 52, 0);
}

.anterior {
    float: left;
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    border-radius: 5px;
    border-right: 2px solid rgb(141, 52, 0);
    border-bottom: 4px solid rgb(141, 52, 0);
    display: flex;
    flex-wrap: wrap;
}

.anterior1, .siguiente3 {
    float: left;
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    border-radius: 5px;
    border-right: 2px solid rgb(141, 52, 0);
    border-bottom: 4px solid rgb(141, 52, 0);
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
}

.anterior:hover {
    background-color: rgb(141, 52, 0);
}

.siguiente:hover {
    background-color: rgb(141, 52, 0);
}

button {
    background-color: rgb(175,54,21);
    color: white;
    font-size: 15px;
    padding: 2px;
    border: 1px solid rgb(168, 62, 0);
}

a .pagina {
    margin-top: 10px;
    background-color: white;
    color: rgb(199, 73, 0);
    border: 1px solid rgb(168, 62, 0);
    font-size: 22px;
}

a .pagina:hover {
    background-color: rgb(199, 73, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(168, 62, 0);
    font-size: 22px;
}

.paginacion {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.pagina1, .pagina3 {
    margin-top: 10px;
    background-color: white;
    color: rgb(199, 73, 0);
    border: 1px solid rgb(168, 62, 0);
    font-size: 22px;
}

/* .pagina1:hover, .pagina3:hover {
    background-color: rgb(199, 73, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(168, 62, 0);
    font-size: 22px;
} */

/* Footer */
footer {
    background-color:silver;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    position: relative;
}

.top {
    font-size: 40px;
    position: absolute;
    top: -60px;
    left: 92%;
    transform: translateX(10%);
    height: 60px;
    width: 60px;
    border-radius: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}

.izda {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.izda p {
    padding: 5px;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 22px;
}

footer a {
    text-decoration:none;
    color: rgb(146, 40, 11);
}

.dcha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.dcha a {
    font-size: 50px;
    color: rgb(141, 39, 10);
    margin: 10px;
}

.dcha a:hover {
    color: rgb(83, 18, 0);
}

.legales a {
    font-size: 20px;
}

.minifooter p {
    font-size:20px;
    font-weight: bold;
    padding: 5px; 
}

@media (max-width: 920px) { 
    .izda, .centro, .dcha {
        flex-basis: 100%;
    }
    .col1 {
        flex-basis: initial;
    }
}    
@media (max-width: 740px) {
    nav {
        display: none;
    }
    
    header .burger {
        display: initial;
    }

    header .burger2 {
        display: initial;
    }

    .col1 {
        flex-basis: initial;
    }
}